/*===== RESET START =====*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/*===== /RESET END =====*/
/**
|============================
| GENERAL
|============================
*/
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;

  /* TRANSITION */
  --transition-duration-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* MOBILE CONTAINER */
.container {
  padding-left: 16px;
  padding-right: 16px;
}

@media only screen and (min-width: 428px) {
  .container {
    max-width: 428px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* TABLET CONTAINER */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* DESK CONTAINER */
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;

  letter-spacing: 0.02em;
  background-color: #ffffff;
  color: var(--slate);
}

.primary-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--navy-blue);

  margin-bottom: 72px;
}

/**
  |============================
  | HEADER
  |============================
*/
/* MOBILE MENU */
@media only screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    overflow-y: scroll;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: var(--white);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--transition-duration-and-func),
      visibility var(--transition-duration-and-func);
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-menu-container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 40px;
    padding-left: 40px;
    height: 100%;
  }

  .mobile-menu-close-btn {
    position: absolute;
    transition: background var(--transition-duration-and-func);
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    padding: 0;
    background-color: var(--cornflower) 0.1;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
  }

  .mobile-menu-close-btn:focus,
  .mobile-menu-close-btn:hover {
    background: var(--ocean);
  }

  .mobile-menu-close-icon {
    color: var(--navy-blue);
    transition: color var(--transition-duration-and-func);
  }

  .mobile-menu-close-btn:focus .mobile-menu-close-icon {
    fill: var(--white);
  }

  .mobile-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;

    letter-spacing: 0.02em;
    text-transform: capitalize;

    color: var(--navy-blue);
    transition: color var(--transition-duration-and-func);
  }

  .mobile-menu-link:hover,
  .mobile-menu-link:focus {
    color: var(--ocean);
  }

  .studio-after-effect {
    color: var(--ocean);
  }

  .portfolio-after-effect {
    color: var(--ocean);
  }

  .mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: auto;
  }

  .mobile-address {
    margin-bottom: 48px;
  }

  .mobile-address-list {
    font-style: normal;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .mobile-contact-address {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;

    letter-spacing: 0.02em;

    color: var(--slate);
    transition: color var(--transition-duration-and-func);
  }

  .mobile-tel-address {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;

    text-transform: capitalize;
    color: var(--iris);
  }

  .mobile-contact-address:hover,
  .mobile-contact-address:focus {
    color: var(--iris);
  }

  .mobile-social-list {
    display: flex;
    gap: 56px;
  }

  .mobile-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--iris);
    transition: background-color var(--transition-duration-and-func);
  }

  .mobile-social-icon {
    fill: var(--cloud);
  }

  .mobile-social-link:hover,
  .mobile-social-link:focus {
    background-color: var(--ocean);
  }

  .menu-open-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }

  .menu-open-icon {
    stroke: var(--navy-blue);
  }
}

@media only screen and (max-width: 427px) {
  .mobile-social-list {
    gap: 25px;
  }

  .mobile-tel-address {
    font-size: 25px;
  }
}

/* MOBILE HEADER */

@media only screen and (max-width: 767px) {
  .menu {
    display: none;
  }

  .address {
    display: none;
  }
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
}

/* LOGO */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.dark-logo {
  color: var(--navy-blue);
}

.light-logo {
  color: var(--cloud);
}

/* TABLET HEADER */
@media only screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .menu-open-btn {
    display: none;
  }

  .page-header-container {
    padding-top: 0;
    padding-bottom: 0;
  }

  .logo {
    margin-right: 120px;
  }

  /* NAVIGATION */

  .page-nav {
    display: flex;
    align-items: center;
  }

  .menu {
    display: flex;
    align-items: center;
    gap: 40px;

    padding: 24px 0;
  }

  .menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;

    letter-spacing: 0.02em;

    color: var(--navy-blue);

    transition: color var(--transition-duration-and-func);

    padding-top: 24px;
    padding-bottom: 24px;
  }

  .menu-link:hover,
  .menu-link:focus {
    color: var(--ocean);
  }

  /* AFTER EFFECT */
  .menu-item {
    position: relative;
  }

  .studio-after-effect::after {
    display: block;
    position: absolute;
    content: "";
    background: var(--ocean);
    border-radius: 2px;
    width: 100%;
    height: 4px;
    bottom: -100%;
  }

  .studio-after-effect {
    color: var(--ocean);
  }

  .portfolio-after-effect::after {
    display: block;
    position: absolute;
    content: "";
    background: var(--ocean);
    border-radius: 2px;
    width: 100%;
    height: 4px;
    bottom: -100%;
  }

  .portfolio-after-effect {
    color: var(--ocean);
  }

  /* ADDRESS */

  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contact-address {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;

    letter-spacing: 0.04em;

    color: var(--slate);
    transition: color var(--transition-duration-and-func);
  }

  .contact-address:hover,
  .contact-address:focus {
    color: var(--ocean);
  }
}

/* DESK HEADER */

@media only screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }

  .contact-address {
    font-size: 16px;
    line-height: 1.5;

    letter-spacing: 0.02em;
  }
  .address-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
}

/**
  |============================
  | HERO
  |============================
*/

@media only screen and (min-width: 320px) and (max-width: 428px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office_mob@1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/people-office_mob@2x.jpg);
    }
  }
}

.hero {
  padding-top: 112px;
  padding-bottom: 112px;
  margin-right: auto;
  margin-left: auto;

  background-color: var(--grey);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 432px;
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--white);
  margin-bottom: 72px;
  margin-right: auto;
  margin-left: auto;
  max-width: 320px;
}

.main-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  margin-right: auto;
  margin-left: auto;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.04em;

  color: var(--white);
  background-color: var(--iris);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;

  transition: background-color var(--transition-duration-and-func);
}

.main-btn:hover,
.main-btn:focus {
  background-color: var(--ocean);
}

@media only screen and (max-width: 427px) {
  .hero-title {
    font-size: 32px;
  }
}

@media only screen and (min-width: 429px) and (max-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office_tab@1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/people-office_tab@2x.jpg);
    }
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    height: 436px;
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-transform: none;
    margin-bottom: 36px;
    max-width: 496px;
  }
}

@media only screen and (min-width: 769px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office_desk@1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/people-office_desk@2x.jpg);
    }
  }
}

@media only screen and (min-width: 1158px) {
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    height: 600px;
    max-width: 1440px;
  }

  .hero-title {
    margin-bottom: 48px;
  }
}

/**
  |============================
  | ABOUT COMPANY
  |============================
*/

.about-cmp-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.about-cmp-text {
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 0;
}

.about {
  padding-top: 96px;
  padding-bottom: 96px;
}

.about-cmp-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
}

@media only screen and (max-width: 767px) {
  .break-par {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .about-cmp-item {
    width: 356px;
  }

  .about-cmp-title {
    text-align: start;
  }
}

@media only screen and (min-width: 1158px) {
  .about-cmp-list {
    display: flex;
    flex-wrap: nowrap;
  }

  .about-cmp-item {
    width: 264px;
  }

  .about-cmp-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .about-cmp-text {
    font-weight: 400;
    width: 264px;
  }

  .break-par {
    display: none;
  }

  .about {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .benefits-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    width: 264px;
    background-color: var(--cloud);
    border-radius: 4px;
    margin-bottom: 8px;
  }
}

/* SVG CONTENT */
@media only screen and (max-width: 1157px) {
  .benefits-list-item {
    display: none;
  }
}

/**
  |============================
  | WHAT ARE WE DOING
  |============================
*/

@media only screen and (max-width: 1157px) {
  .tehnologies {
    display: none;
  }
}

@media only screen and (min-width: 1158px) {
  .tehnologies-list {
    display: flex;
    gap: 24px;
  }

  .tehnologies {
    padding-bottom: 120px;
  }
}

/**
  |============================
  | TEAM
  |============================
*/

.team {
  background: var(--cloud);
  padding-top: 96px;
  padding-bottom: 96px;
}

.employee-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  text-align: center;
  letter-spacing: 0.02em;

  color: var(--navy-blue);

  margin-bottom: 8px;
}

.employee-profession {
  text-align: center;
  line-height: 1.5;
  margin-bottom: 8px;
}

.employee-item {
  background-color: var(--white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;

  width: 264px;
}

.text-perm {
  padding: 32px 0;
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px 24px;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .team-list {
    flex-wrap: nowrap;
  }

  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

/* SVG CONTENT */
.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--iris);

  transition: background var(--transition-duration-and-func);
}

.social-list-icon {
  fill: var(--cloud);
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-list-link:hover,
.social-list-link:focus {
  background: var(--ocean);
}

/**
  |============================
  | CUSTOMERS
  |============================
*/

.customers {
  padding-top: 96px;
  padding-bottom: 96px;
}

.cmp-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 88px;
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  color: #afb1b8;

  transition: border var(--transition-duration-and-func),
    color var(--transition-duration-and-func);
}

.cmp-logo-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 72px 16px;
}

.cmp-logo-icon {
  fill: currentColor;
}

.cmp-logo-icon:hover,
.cmp-logo-icon:focus {
  fill: var(--ocean);
}

.cmp-logo-link:hover,
.cmp-logo-link:focus {
  border: 1px solid var(--ocean);
  color: var(--ocean);
}

@media only screen and (min-width: 768px) {
  .cmp-logo-link {
    width: 168px;
  }

  .cmp-logo-list {
    gap: 72px 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .cmp-logo-list {
    flex-wrap: nowrap;
  }
}

/**
  |============================
  | FOOTER
  |============================
*/

.page-footer {
  background: var(--navy-blue-modal);
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 72px;
}

.footer-text {
  color: var(--cloud);
  max-width: 264px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-social-par {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;

  color: #ffffff;

  margin-bottom: 16px;
  text-align: center;
}

/* SVG CONTENT */
.footer-link-wrapper {
  margin-bottom: 72px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris);

  transition: background-color var(--transition-duration-and-func);
}

.footer-social-icon {
  fill: var(--cloud);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--green);
}

.footer-social-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

/* FOOTER FORM */
.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.footer-form-text {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  margin-bottom: 16px;
  text-align: center;

  color: var(--white);
}

.footer-form-input {
  width: 100%;
  height: 40px;
  padding-left: 16px;

  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  color: var(--white);

  border: 1px solid var(--white);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: var(--navy-blue);
  transition: border var(--transition-duration-and-func);
}

.footer-form-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  color: var(--white);
}

.footer-form-input:focus {
  outline: none;
  border: 1px solid var(--iris);
}

.footer-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--white);
  border: none;
  background: var(--iris);
  border-radius: 4px;

  transition: background var(--transition-duration-and-func);
}

.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: var(--ocean);
}

.footer-plane-btn-icon {
  fill: var(--white);
}

@media only screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
    max-width: 552px;
  }

  .footer-logo-wrapper {
    margin-bottom: 0;
    align-items: flex-start;
  }

  .footer-link-wrapper {
    margin-bottom: 0;
  }

  .footer-logo {
    margin-right: 0;
  }

  .footer-form {
    flex-direction: row;
    align-items: center;
    gap: 24px;
  }

  .footer-social-par {
    text-align: start;
  }

  .footer-form-text {
    text-align: start;
  }

  .footer-form-input {
    width: 264px;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-container {
    gap: 0;
    max-width: 1158px;
  }

  .footer-link-wrapper {
    margin-left: 120px;
  }

  .footer-form-wrapper {
    margin-left: 80px;
  }
}

/**
  |============================
  | PORTFOLIO
  |============================
*/

.portfolio {
  padding-top: 48px;
  padding-bottom: 48px;
}

.btn-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 24px;

  margin-bottom: 48px;
}

.btn-item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  text-align: center;
  letter-spacing: 0.04em;

  color: var(--iris);
  background: var(--cloud);

  border-radius: 4px;
  border: 1px solid var(--cornflower);

  padding: 12px 24px;
  min-width: 69px;

  transition: color var(--transition-duration-and-func),
    background var(--transition-duration-and-func),
    border var(--transition-duration-and-func),
    box-shadow var(--transition-duration-and-func);
}

.btn-item:hover,
.btn-item:focus {
  color: var(--white);
  background: var(--ocean);

  border: 1px solid transparent;

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.service {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.service-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  letter-spacing: 0.02em;

  color: var(--navy-blue);

  margin-bottom: 8px;
}

.service-text {
  line-height: 1.5;
  color: var(--slate);
}

.service-item {
  background: #ffffff;

  width: 100%;
}

.service-img-overlay {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translate(0, 100%);
  transition: transform var(--transition-duration-and-func);

  padding-top: 40px;
  padding-bottom: 132px;
  padding-left: 30px;
  padding-right: 30px;

  font-weight: 400;
  line-height: 1.5;

  color: var(--cloud);
  background: var(--iris);
}

.service-link {
  display: block;
  transition: box-shadow var(--transition-duration-and-func);
}

.service-link:hover .overlay,
.service-link:focus .overlay {
  transform: translate(0, 0);
}

.service-link:hover,
.service-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.service-perm {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

@media only screen and (min-width: 768px) {
  .portfolio {
    padding-top: 64px;
    padding-bottom: 96px;
  }

  .btn-list {
    justify-content: center;
    margin-bottom: 64px;
  }

  .service {
    gap: 72px 24px;
  }

  .service-item {
    width: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
  }

  .btn-list {
    margin-bottom: 72px;
  }

  .service-item {
    width: calc((100% - 48px) / 3);
  }
}

/**
  |============================
  | MODAL WINDOW
  |============================
*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity var(--transition-duration-and-func),
    visibility var(--transition-duration-and-func);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 576px;
  padding: 72px 24px 24px;

  background: var(--dairy);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media only screen and (max-width: 427px) {
  .modal {
    width: 100%;
    padding: 72px 16px 24px;
  }
}

.modal-close-btn {
  position: absolute;
  transition: background var(--transition-duration-and-func);
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  background: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background: var(--ocean);
}

.modal-close-btn-icon {
  color: var(--navy-blue);
  transition: color var(--transition-duration-and-func);
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
  fill: var(--white);
}

/* MODAL FORM */
.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-text {
  display: block;
  font-weight: 500;
  line-height: 1.5;

  margin-bottom: 15px;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--navy-blue);
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: border var(--transition-duration-and-func);
}

.modal-form-input:focus {
  outline: none;
  border: 1px solid var(--iris);
}

.modal-form-field {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: var(--light-slate);
}

.modal-form-input-wrapper {
  position: relative;
  margin-bottom: 8px;
}

.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: var(--navy-blue);
  transition: fill var(--transition-duration-and-func);
}

.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--iris);
}

.modal-form-message {
  resize: none;
  width: 100%;
  height: 120px;
  padding-left: 16px;
  padding-top: 8px;

  font-size: 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;

  transition: border var(--transition-duration-and-func);
}

.modal-form-field-message {
  margin-bottom: 16px;
}

.modal-form-message:focus {
  outline: none;
  border: 1px solid var(--iris);
}

.modal-form-message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.04em;

  color: rgba(46, 47, 66, 0.4);
}

.modal-form-check-desc {
  display: flex;
  align-items: center;
  margin-bottom: 25px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: var(--light-slate);
}

.modal-form-link {
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;

  color: var(--iris);
}

.modal-form-check-desc::before {
  display: block;
  content: "";
  cursor: pointer;
  width: 16px;
  height: 16px;
  margin-right: 8px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
}

.modal-form-input-check:checked + .modal-form-check-desc::before {
  background-color: var(--ocean);
  background-repeat: no-repeat;
  background-position: center;

  border: 1px solid var(--ocean);
  background-image: url(../images/checkbox/check-mark.svg);
}

.modal-form-btn {
  display: block;
  align-self: center;
  min-width: 169px;
  height: 56px;
  border: none;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--white);
  background-color: var(--iris);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;

  transition: background-color var(--transition-duration-and-func);
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: var(--ocean);
}

/* /MODAL FORM */
